$black: #000;
@media(max-width:986px) {

    .fun {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-bottom: 1em;
        flex-direction: column;

        h2 {
            font-size: 1.4rem;
            text-align: center;
            color: whitesmoke;
            font-family: "LOUGRAMM";
        }

        p {
            margin: 3em auto;
            max-width: 90vw;
            color: whitesmoke;
        }

        a {
            font-size: 21px;
           
            word-wrap: break-word;
        }

        span {
            color: #ff0000;
        }

        strong {
            color: black;

        }

    }

    U {
        text-underline-position: below;
        text-decoration-color: #ff0000;
    }

    .pilusdckiImage {
        border-radius: 7px;

    }

    .image-wrap {
        position: relative;
        display: inline-block;
        max-width: 100%;
        vertical-align: bottom;
    }
    .image-wrap:after {
        content: ' ';
        width: 100%;
        height: 99%;
        position: absolute;
        top: -1px;
        left: 0;
        border: solid 1px #1b1b1b;
        -wekbit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

    .funsubtitle {
        font: 22px/1.5 Helvetica, sans-serif;
        display: block;

    }
    @supports (display: grid) {

        .fungrid {
            display: grid;
            grid-template-areas: "a" "b" "c" "d" "e" "f";
            grid-template-columns: repeat(1, auto);
            grid-column-gap: 15px;
            grid-row-gap: 80px;
            justify-content: space-around;
            align-items: center;
            font-size: 1.4rem;
            padding-top: 100px;
            grid-column: auto;

        }
    }
    @supports not (display: grid) {
        .fungrid {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            padding-top: 100px;

        }

        .box {
            margin: 2em auto;
            padding: 1.25rem;
        }
    }

    .g,
    .h,
    .i,
    .k,
    .l,
    .o,
    .p {
        width: 100%;
        height: 100%;
        min-height: 300px;
        min-width: 250px;
    }
    .g {
        grid-area: g;
    }
    .h {
        grid-area: h;
    }

    .o {
        grid-area: o;
    }
    .l {
        grid-area: l;
    }
    .i {
        grid-area: g;
    }

    .k {
        grid-area: k;
    }

    .p {
        grid-area: p;
    }

    .box {

        width: 100%;
        height: 100%;
        margin-bottom: 0 !important;
        border-radius: 7px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 250px;
        min-height: 300px;
        box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
        padding: 1.25rem;

    }

    .a {
        grid-area: a;

    }

    .b {
        grid-area: b;

    }

    .c {
        grid-area: c;

    }

    .d {
        grid-area: d;

    }

    .e {
        grid-area: e;

    }
    .f {
        grid-area: f;

    }

    .list {

        ol {
            
            list-style-type: none;
            height: 100%;
            padding: 0;
            margin: 0;

        }

        ol li {
            position: relative;
            font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
            height: 100%;
        }

        li p {
            font: 22px/1.5 Helvetica, sans-serif;
            

        }

        span {
            display: none;
        }

    }

    .fun_icon {
        max-width: 175px;
        filter: brightness(0%);
        margin-top: 1em;

    }

}
@media(min-width:986px) {

    .fun {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 1em;

        h2 {
            font-size: 2.4rem;
            text-align: center;
            color: whitesmoke;
            font-family: "LOUGRAMM";
        }

        span {
            color: #ff0000;
        }

        u {
            color:black;
        }

    }

    u {
        
        text-underline-position: below;
        text-decoration-color: #ff0000;
    }

    .pilusdckiImage {
        border-radius: 7px;

    }

    .image-wrap {
        position: relative;
        display: inline-block;
        max-width: 100%;
        vertical-align: bottom;
    }
    .image-wrap:after {
        content: ' ';
        width: 100%;
        height: 99%;
        position: absolute;
        top: -1px;
        left: 0;
        border: solid 1px #1b1b1b;
        -wekbit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }

    .funsubtitle {
        font: 22px/1.5 Helvetica, sans-serif;
        display: block;
        padding: 2em;
    }

    .fungrid {
        display: grid;
        grid-template-areas: "a a a a g g" "h h b b b b" "c c c x l l" "k d d d l l" "o o o e e e" "i f f f f p";
        grid-template-columns: repeat(6, auto);
        grid-column-gap: 15px;
        grid-row-gap: 80px;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;
        padding-top: 300px;
        grid-column: 500px;
        grid-auto-rows: repeat(5, 1fr);
    }

    .g,
    .h,
    .i,
    .k,
    .l,
    .o,
    .p {
        width: 100%;
        height: 100%;
        min-height: 300px;
        min-width: 250px;
    }
    .g {
        grid-area: g;
    }
    .h {
        grid-area: h;
    }

    .o {
        grid-area: o;
    }
    .l {
        grid-area: l;
    }
    .i {
        grid-area: g;
    }

    .k {
        grid-area: k;
    }

    .p {
        grid-area: p;
    }

    .box {

        width: 100%;
        height: 100%;
        margin-bottom: 0 !important;
        border-radius: 7px;
        
        display: flex;
        align-items: center;
        min-width: 250px;
        min-height: 300px;
        box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
        background-image: url('/img/white_wall_hash.png');
        background-repeat: repeat;
        background-blend-mode: soft-light;

    }

    .a {
        grid-area: a;

    }

    .b {
        grid-area: b;

    }

    .c {
        grid-area: c;

    }

    .d {
        grid-area: d;

    }

    .e {
        grid-area: e;

    }
    .f {
        grid-area: f;

    }

    .list {

        ol {
           
            list-style-type: none;
            height: 100%;

        }

        ol li {
            position: relative;
            font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
            height: 100%;
        }

        li p {
            font: 22px/1.5 Helvetica, sans-serif;
            padding: 70px 2vw;
            

        }

        span {
            position: absolute;
            top: 7px;
            right: 7px;
            display: block;
            float: left;
            margin: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background: transparent;
            border: 2px solid #161517;
            border-radius: 50%;
        }

    }

    .fun_icon {
        max-width: 175px;
        margin-left: 3vw;
    }

    .fun a {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 3em;
        color: #ff0000;
        margin-left: 1em;

    }

}

.a {
    background: whitesmoke;

}

.b {
    background: linear-gradient(135deg, #a90329 0%,#8f0222 44%,#6d0019 100%);
    p,
    span {
        color: white !important;
    }

}

.c {

    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 45%,#e5041e 100%);

    p,
    span {
        color: white !important;
    }

}

.d {
    background: linear-gradient(-135deg, #e5041e 0%,#d10418 67%,#6d0019 100%);;

    p,
    span {
        color: white !important;
    }
}

.e {

    background: linear-gradient(135deg, #e5041e 0%,#d10418 67%,#6d0019 100%);
    p,
    span {
        color: white !important;
    }
}
.f {

    background: linear-gradient(235deg, #e5041e 0%,#d10418 67%,#6d0019 100%);
    p,
    span {
        color: white !important;
    }
}


.clouds {
    position: absolute;
    width: 100%;
    height: 1800px;
    display: block;
    top: 110vh;

    background: transparent url("/img/clouds.png") repeat top center;
    z-index: 1;

    -moz-animation: move-clouds-back 300s linear infinite;
    -ms-animation: move-clouds-back 300s linear infinite;
    -o-animation: move-clouds-back 300s linear infinite;
    -webkit-animation: move-clouds-back 300s linear infinite;
    animation: move-clouds-back 300s linear infinite;
}

.cloudsfront {
    position: absolute;
    width: 100%;
    height: 1800px;
    display: block;
    top: 20vh;

    background: transparent url("/img/clouds.png") repeat top center;
    z-index: 1;

    -moz-animation: move-clouds-back 300s linear infinite;
    -ms-animation: move-clouds-back 300s linear infinite;
    -o-animation: move-clouds-back 300s linear infinite;
    -webkit-animation: move-clouds-back 300s linear infinite;
    animation: move-clouds-back 300s linear infinite;
}




@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
