
@import "/bulma.sass"

$blue: #72d0eb
$pink: #ffb3b3
$pink-invert: #000
$family-serif: "Merriweather", "Georgia", serif
$primary: whitesmoke
$primary-invert: #000
$danger: $orange


@import "/slick.scss"
@import "/slick-theme.scss"






// Config vars
$spaceout-blue: #ff0000
$spaceout-invert: #000
$spaceout-border: rgba(70, 87, 152, 0.3)
$primary: $spaceout-blue
$primary-invert: $spaceout-invert

body 
  background-image: url(/img/back.png)
  background-position: top
  background-repeat: repeat 
  background-color: black
  scroll-behavior: smooth
  color: whitesmoke
  overflow-x: hidden


.openforbusiness
  text-transform: uppercase
  font-size: 1.5em

.subtext 
  width: 100%
  text-align: center
  padding: 0 0 7vh 0


.has-text-primary 
  color: $spaceout-blue !important   

 

.asfaltbackground
  background-image: url(/img/back.png)
  background-position: top
  background-repeat: repeat 
  background-color: black

.logoicon
  overflow: visible


.has-text-primary
  font-weight: bold

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important


.mytitle
  padding-top: 2em 
  font-size: 5em
  color: whitesmoke

.separtor 
  min-height: 10vh

.m100vh 
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  transition: 1s ease-in


.notVisable 
  opacity: 0.1
  

.Visable 
 opacity: 1
  

.flex 
  display: flex
  justify-content: center
  align-items: center

form
  display: flex
  flex-direction: column
  width: 50vw
  min-width: 300px

  button
    height: 100px
    background: transparent
    color: whitesmoke
    font-size: 23px 
    font-family: 'LOUGRAMM'

input
  height: 100px

.special a 
  color: #ff0000
  transition: 0.6s ease-in 

.special a:hover 
  filter: brightness(3%)
  transition: 0.6s ease-in

.button 
  background: none
  color: whitesmoke
  border: 0
  border-bottom: 2px solid #ff0000

.projekt
  strong 
    color: whitesmoke

@media (min-width:986px)
  .container.has-text-centered 
    padding: 2em 4em
  
  .moon-holder 
    position: absolute
    top: -250px
    left: -160px
    height: 500px
    width: 500px
  
  button
    background: #ff0000
    border-radius: 15px
    height: 5vh
    width: 10vw
    border: 0
    color: whitesmoke
    text-transform: uppercase
    cursor: pointer

  a 
    color: whitesmoke

  button:hover, button:focus 
    outline: none
    background: black
    transition: 0.3s ease-out

  .city-wrap 
    margin-top: -700px
    margin-left: -400px
    z-index: 1

@media (max-width:986px)
  .container.has-text-centered 
    padding: 2em 4em
  
  button
    background: #ff0000
    border-radius: 15px
    border: 0
    color: whitesmoke
    text-transform: uppercase
    cursor: pointer
    width: 8em
    height: 4em
  a 
    color: whitesmoke

  button:hover, button:focus 
    outline: none
    background: black
    transition: 0.3s ease-out

  .moon-holder 
    position: absolute
    top: -250px
    left: -160px
    height: 500px
    width: 120%